<html>
<head>
<meta charset="utf-8">
<title>Результаты поиска</title>
</head>
<body>

<a href="http://127.0.0.1:5000/">Главная страница</a></br>
<a href="http://127.0.0.1:5000/stats/">Статистика</a></br>
<a href="http://127.0.0.1:5000/json/">json</a></br>  
<a href="http://127.0.0.1:5000/search/">Поиск</a></br> 

</p><b>Результаты поиска</b></p>

<b>Всего вхождений:</b> {{total}}
</br>
<b>Города проживания респондентов:</b>{% for city in cities %} </br>{{city}} {% endfor %}
</br>
<b>Возраст респондентов:</b>{% for age in ages %} {{age}} {% endfor %}
</br>
<b>Пол респондентов:</b> </br> женский {{fnum}} </br> мужской {{mnum}}
</body>
</html>