<html>
<head>
<meta charset="utf-8">
<title>Поиск</title>
</head>

<a href="http://127.0.0.1:5000/">Главная страница</a></br>
<a href="http://127.0.0.1:5000/stats/">Статистика</a></br>
<a href="http://127.0.0.1:5000/json/">json</a></br>  
<a href="http://127.0.0.1:5000/search/">Поиск</a></br>  
<body>
</p>Информацию по какому варианту вы хотели бы увидеть? (пол, возраст и город проживания респондентов)</p>
<form action="/results">
<input type="radio" name="var" value="var1">Поезд<Br>
<input type="radio" name="var" value="var2">Электричка<Br>
<input type="radio" name="var" value="var3">Собака<Br>
<input type="radio" name="var" value="var4">Липа<Br>
<input type="radio" name="var" value="var5">Электрос<Br>
<input type="radio" name="var" value="var6">Электрон<Br>
<input type="radio" name="var" value="var7">Пригородка<Br>
<input type="radio" name="var" value="var8">Эл(ь)ка<Br>
<p><input type="submit"></p>
</form>
</body>
</html>